## Lesson 5 Python Practice 

This notebook provides examples working with data types (Integers, Floats, Strings, and Boolean), converting between different types, and using the builtin math module to perform calculations.

1. Use the math module and built-in Python math operators to perform calculations

2. Differentiate between integers, floats, strings, and Booleans

3. Convert between data types appropriately

### **1. Math module and pre-defined (built-in) functions**

---

Python has some math functions built into the python kernel. These include: 

| Operation        | Function | Example       |  Returns |
|------------------|---------:|---------------|----------
| Absolute value   |   abs    | ```abs(-3.2)```  |   3.2    |
| Rounding         |   round  | ```round(3.57,1)``` |   3.6    |
| Power            |   pow    |  ```pow(4,3)```     |    64    |



To import the math module, simply type "import math" near the top of your python program.

In [2]:
import math  # this import the math module for later use

A mathematical operation provided by the ```math``` module is:

In [ ]:
# No need to import math, since we already did above, but if we did again it would not be a problem.

num = 49                        # this assigns the integer 49 to the variable name 'num'

num_sqrt = math.sqrt(num)       # we can then use 'num' as input to the math function sqrt()

print(f"The square root of {num} is {num_sqrt}.") # finally, we call the print function.

The square root of 49 is 7.0.

Examples of usng math functions with print statements.

In [5]:
my_int = 10
my_float = 49.9

# print my float using an f-string - this is known as string interpolation.
print(f"My float is {my_float}.")

# round to closest integer (down)
float_floor = math.floor(my_float)
print(f"My float floor is {float_floor}.")

# round to closest integer (up)
float_ceil = math.ceil(my_float)
print(f"My float ceil is {float_ceil}.")

My float is 49.9.
My float floor is 49.
My float ceil is 50.

The math help function shows all supported options and usage.

In [ ]:
print(f"{help(math)}")

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)


None

### **2. Differentiate between integers, floats, strings, and Booleans**

---

#### 2.1. Variables are names that refer to objects

In Python, a variable is a name that refers to an object.

It’s helpful to imagine a variable as a label (sticky note) placed on an object.

In [52]:
x = 10
print(x)

10


You can ask Python what type the object is:

In [53]:
type(x)

int


#### *Try it*

1. Create a variable named my_number and set it equal to 25.

2. Print my_number.

3. Print its type.

In [54]:
# TODO: your code here

---

#### 2.2. Everything in Python is an object (and has a type)

Numbers, text, True/False values, and collections like lists are all objects.

In [55]:

thing1 = 7
thing2 = "seven"
thing3 = True

type(thing1), type(thing2), type(thing3)

(int, str, bool)

#### *Try it*

Create one variable of each type below, then print the value and type:

- an integer

- a float

- a string

- a boolean

In [56]:
# TODO: your code here

---

#### 2.3 Integers (int) — whole numbers

Integers are whole numbers (no decimal point).

In [57]:
age = 19
temperature_c = -4

age, temperature_c, type(age)

(19, -4, int)

Common operations:

In [58]:
a = 7
b = 3

a + b   # addition
a - b   # subtraction
a * b   # multiplication
a ** b  # powers a^b
a // b  # integer division (quotient only)
a % b   # remainder

1

#### *Try it*

Create a = 12 and b = 5

Compute:

- The sum of a and b.

- The quotient of a and b. 

- The remainder of the quotient of a and b.

- The value of a raised to the b power (exponent).

In [59]:
# TODO: your code here

---

#### 2.4. Floating-point numbers (float) — decimals

Floats are numbers with decimals (or scientific notation).

In [60]:
gpa = 3.75
pi = 3.14159

# the ',' in the print statement below adds a space
print(gpa, pi, type(gpa))

# or f-string produces the same thing
print(f"{gpa} {pi} {type(gpa)}")

3.75 3.14159 <class 'float'>
3.75 3.14159 <class 'float'>

A note: floats are approximations, so you may see surprises:

In [61]:
print(0.1 + 0.2)

0.30000000000000004

#### *Try it*

1. Create a float variable called distance_km = 4.2

2. Create another float called speed_kmh = 8.4

3. Compute the time in hours: time_hours = distance_km / speed_kmh

In [62]:

# TODO: your code here

---

#### 2.5. Strings (str) — text in quotes

Strings are text wrapped in quotes (" " or ' ').

In [63]:
name = "Avery"
course = 'Intro to Python'

print(f"{name}, {course}, {type(name)}")

Avery, Intro to Python, <class 'str'>

Common string operations:

In [64]:
greeting = "Hello"

greeting + "!"     # combine (concatenate) strings

print(len(greeting))      # length of the string

print(greeting.upper())   # uppercase

5
HELLO

Strings can be indexed (like a sequence of characters):

In [65]:
word = "python"
word[0], word[-1]

('p', 'n')

#### *Try it*

Create first_name = "Jordan"

Create last_name = "Lee"

Create full_name by combining them with a space in between

Print full_name and its length using len()

In [66]:
# TODO: your code here

---

#### 2.6. Booleans (bool) — True or False

Booleans represent truth values: True or False.

In [67]:
is_student = True
has_paid = False

print(f"{is_student}, {has_paid}, {type(is_student)}")

True, False, <class 'bool'>

Booleans often come from comparisons:

In [68]:
x = 10
print(f"{x > 5}, {x == 10}, {x != 10}")

True, True, False

And they drive decisions:

In [69]:
score = 82

if score >= 70:
    print("Passing")
else:
    print("Not yet")

Passing

#### *Try it*

1. Set score = 67

2. Write an if statement that prints:

- "Passing" if score >= 70

- "Not yet" otherwise

In [70]:
# TODO: your code here

---

#### 2.7. Lists (list) — ordered collections

Lists are ordered collections of items, written with brackets [].

In [71]:
grades = [88, 92, 79, 95]
print(f"{grades}, {type(grades)}")

[88, 92, 79, 95], <class 'list'>

Indexing and slicing:

In [72]:

print(f"{grades[0]}")      # first item

print(f"{grades[-1]}")     # last item

print(f"{grades[1:3]}")    # items at index 1 and 2

88
95
[92, 79]

Modifying a list:

In [73]:

grades.append(100)
print(f"{grades}")

[88, 92, 79, 95, 100]

#### *Try it*

1. Create a list called favorite_foods with 3 foods

2. Print the first food

3. Add a 4th food using .append()

4. Print the updated list and its length

In [74]:
# TODO: your code here

---

#### 2.8. Checking types (a very useful habit)

When you’re unsure what something is, use type().

In [75]:
values = [42, 3.14, "42", True, [1, 2, 3]]

for val in values:
    print(f"{val} -> {type(val)}")

42 -> <class 'int'>
3.14 -> <class 'float'>
42 -> <class 'str'>
True -> <class 'bool'>
[1, 2, 3] -> <class 'list'>


#### *Try it*

Predict the type of each, then check with type():

- 100

- 100.0

- "100"

- False

- [100]

In [76]:
# TODO: your code here

---

#### 2.9. Two variables can refer to the same object (important for lists)

Lists are *mutable* objects, e.g., you can modify the object in place, so multiple names can point to the same list:

In [90]:
list_a = [1, 2, 3]
list_b = list_a

list_b.append(4)

print(f"{list_a}, {list_b}")
print(f"{list_a == list_b}")

[1, 2, 3, 4], [1, 2, 3, 4]
True

Because **a** and **b** refer to the same list object, changing one changes other.

#### *Try it*

1. Create list1 = [10, 20]

2. Set list2 = list1

3. Append 30 to list2

4. Print list1 and list2

In [ ]:

# TODO: your code here

### **3 Converting Between Data Types**

---
#### 3.1. Why type conversion matters

Python is strict about types in many situations. For example, you can’t combine (concatenate) a number and text directly:

In [120]:
points = 10
message = "You earned " + points

TypeError: can only concatenate str (not "int") to str

That will raise an error because points is an int, not a str.

Instead, convert the number to a string:

In [ ]:
points = 10

message = "You earned " + str(points) + " points."

print(f"{message}")

You earned 10 points.

#### *Try it*
Fix the code so it works:

In [ ]:
score = 95

text = "Score: " + score  # TODO: fix this line

print(f"{text}")

TypeError: can only concatenate str (not "int") to str

---

#### 3.2. Converting to integers: int()

Use int() when you need a whole number.

In [ ]:
print(f"{int('42')}")

42

**NOTE**: We had to use single quotes ' '  for the string value of 42, beacuse we used double quotes for the f-string. Python does not care which you use, double r single, but you must remain consistent, e.g., you can not use double quotes inside of an f-string that started with a double quote.

You can also convert from a float (it truncates toward zero):

In [ ]:
print(f"{int(3.99)}")

print(f"{int(-3.99)}")

3
-3

***Common pitfall***

This fails because "42.0" is not a valid integer string:

In [ ]:
print(f"{int('42.0')}")  # Uncomment to see the error

ValueError: invalid literal for int() with base 10: '42.0'

A safe approach is: convert to float first, then to int:

In [ ]:

print(f"{int(float('42.0'))}")

42

#### *Try it*
1. Convert "120" to an integer.

2. Convert 9.8 to an integer.

3. Convert "45.0" to an integer (without editing the string itself).

In [ ]:
# TODO: your code here

---

#### 3.3. Converting to floats: float()

Use float() when decimals are possible or useful.

In [ ]:
print(f"{float('3.14')}")
print(f"{float(7)}")

3.14
7.0


***Real-world example: averages***

If you divide integers, Python returns a float (which is often what you want):

In [ ]:
total = 17
count = 4

avg = total / count

print(f"Average: {avg}, {type(avg)}")

Average: 4.25, <class 'float'>

#### *Try it*

1. Convert "19.75" to a float.

2. Convert the integer 5 to a float.

3. Compute the average of total_points = 83 and num_assignments = 6.

In [ ]:
# TODO: your code here

---

#### 3.4. Converting to strings: str()

Use str() when you need to display values or build messages.

In [ ]:
age = 19

sentence = f"I am {str(age)} years old."

print(sentence)

I am 19 years old.

**NOTE**: No f-string is needed here during the print funciton, because we are only printing the one string object referenced by *sentence*.

A common pattern is f-strings (very readable):

In [ ]:
age = 19

print(f"I am {age} years old.")

I am 19 years old.

#### *Try it*
Create a sentence that says:

```"Your GPA is 3.75."```

Use a variable named gpa and an f-string.

In [ ]:
# TODO: your code here

---

#### 3.5. Converting to booleans: bool()

bool() converts values into **True** or **False**.


A key rule:

- Zero-like / empty values → False

- Everything else → True

Examples:

In [128]:
print(f'{bool(0)}, {bool(1)}, {bool(-3)}')

print(f'{bool("")}, {bool("hello")}')

print(f'{bool([])}, {bool([1, 2, 3])}')

False, True, True
False, True
False, True

***Important warning (very common beginner bug)***

bool("False") is True because it’s a non-empty string!

In [131]:

print(f'{bool("False")}, {bool("True")}')

True, True

#### *Try it*
Predict the result, then run it:

- bool(0)

- bool("")

- bool("0")

- bool([])

- bool([0])

In [ ]:
# TODO: your code here
print(f'{bool(0)}')

print(f'{bool("")}')

print(f'{bool("0")}')

print(f'{bool([])}')

print(f'{bool([0])}')

---

#### 3.6. The most important real-world case: user input is a string

When you use input(), Python always gives you a string.

In [7]:
# Run outside of notebook to run interactively:

# age_text = input("Enter your age: ")
# print(type(age_text))

So if you want math, you must convert:

In [8]:
# Run outside of notebook to run interactively:

# age_text = input("Enter your age: ")
# age = int(age_text)
# print(age + 1)


#### *Try it* (non-interactive version)


Assume this came from input():

age_text = "21"

In [6]:
# TODO: convert age_text to an int, then compute age_next_year = age + 1
age_text = "21"

---

#### 3.7. Quick decision guide: which conversion should I use?

- Use int() when you need whole numbers (counts, IDs, years)

- Use float() when decimals matter (rates, averages, measurements)

- Use str() when building messages or labels for display

- Use bool() for truthiness checks (empty vs. non-empty), but parse strings like "true"/"false" manually


#### *Try it* (mini-check)

For each scenario, pick the best type conversion:

1. You read "89.6" from a CSV and want to compute an average.

2. You want to print: Student 42 submitted 3 assignments.

3. You read "false" from a config file and want an actual boolean.

In [ ]:

# TODO: write one line of code for each scenario